# Commonly used
pre-commit
pytest
pandas
numpy~=1.26.4
black
ruff

# FastAPI requirement
fastapi~=0.115.5
uvicorn[standard]~=0.32.1

# Flask requirement
flask~=3.1.0

# Ngrok requirements
pyngrok~=7.2.5

python-dotenv~=1.0.1
PyYAML~=6.0.1

torch~=2.5.1
transformers~=4.46.3
requests~=2.32.3
line-bot-sdk~=3.14.2
